@import "basic-info.scss";

table {
  width: 100%;

  tr {
    text-decoration: none;
  }

  th {
    color: $label-font-color;
    padding: 12px 0;
  }

  td {
    @extend th;
    color: $table-font-color;
  }
}
.expand-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: $sub-bg-color;
  margin: 24px 32px;

  h1 {
    display: block;
    padding-block: 24px;
    display: inline-block;

    p {
      color: $label-font-color;
      font-size: 14px;
      margin: 0;
    }

  }

  .expand-title {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: space-between;
    background: $sub-bg-color;

    h1 {
      display: block;
      display: inline-block;

      p {
        color: $label-font-color;
        font-size: 14px;
        margin: 0;
      }

    }
    img{
      margin-right: 20px;
    }
    img:hover{
      cursor: pointer;
    }
  }

  .expand-sub-container {
    margin: 0 30px;
    display: none;

    .expand-content {
      p {
        font-weight: bold;
        margin: 0;
      }

      .expand-table-container {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $main-border-color;
        border-collapse: collapse;

        p {
          display: flex;
          align-items: center;
          width: 30%;
        }

        .expand-table {
          width: 100%;
          border-collapse: collapse;

          .table-course {
            width: 35%;
          }

          th {
            color: $label-font-color;
            padding: 12px 0;
            font-weight: 500;
          }

          td {
            @extend th;
            border-top: 1px solid $main-border-color;
            color: $table-font-color;
            font-weight: 400;
          }
        }

        ul {
          list-style: none;
          padding-left: 0;

          li {
            color: $table-font-color;
            font-weight: 400;
          }
        }
      }
      .expand-table-container:last-child {
        border-bottom: none;
      }
      .expand-table-container-column{
        @extend .expand-table-container;
        flex-direction: column;
        padding-bottom: 12px;
        p{
          width:100%;
          padding:12px 0;
        }
        ul{
          margin:0;
          li{
           margin: 6px 4px;
           font-weight: 400;
          }
        }
        
      }
      .expand-table-container-column:last-child{
        border-bottom: none;
        margin-bottom: 24px;
      }
    }
  }

}